@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body,
html {
  font-size: 1em;
  /* 16px*/
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* FlexBox */
.oneBox,
.topOneNumBox,
.topTwoNumBox,
.bottomOneNumBox,
.bottomTwoNumBox,
.bottomThreeNumBox,
.oneBox_M,
.topOneNumBox_M,
.topTwoNumBox_M,
.bottomOneNumBox_M,
.bottomTwoNumBox_M,
.bottomThreeNumBox_M {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.fullViewMenuBox ul, header, .titleBox, .aboutContainer, a.categoryButtonBox_mobile, .squareContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menuContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navContainer, .fooContainer, .blogContainer, .blogContent_flex, .selectedDotLineBox, .blogContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  background-color: #f3f3f3;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}

.moveUpAnimate {
  animation: moveUp 0.5s normal forwards;
  -webkit-animation: moveUp 0.5s normal forwards;
}

@keyframes moveUp {
  from {
    margin-top: 100px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
.section {
  width: 100%;
  background-color: #f3f3f3;
}

.fooContainer,
.allContainer {
  max-width: 1800px;
  width: 90%;
  margin: auto;
}

h1 {
  font-size: 100px;
  letter-spacing: 2px;
}

.animate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #fff;
}
.animate #lottie,
.animate #homeLoadLottie {
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.lockBack {
  position: fixed;
}

body,
html {
  height: 100%;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 200;
  height: 80px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.navContainer {
  max-width: 1800px;
  width: 90%;
  height: 80px;
  overflow: hidden;
  margin: auto;
}

.hideUp {
  top: -80px;
}

.slideDown {
  top: 0;
}

.navBgWhite {
  background-color: white;
}
.navBgWhite .menuBtn,
.navBgWhite .subMainButton {
  color: #a8a8a8;
}
.navBgWhite #hamburger .burg {
  background: black;
}
.navBgWhite #hamburger .burg:before {
  background: black;
}
.navBgWhite #hamburger .burg:after {
  background: #000000;
}

.navBgNone .menuBtn,
.navBgNone .subMainButton {
  color: white;
}
.navBgNone .menuBtn:hover,
.navBgNone .subMainButton:hover {
  color: #dbdbdb;
}

.navBgNone .subMainButton,
.navBgWhite .subMainButton {
  margin-top: 2px;
  padding: 13px 0;
}

.logoContainer a {
  display: inline-block;
}
.logoContainer a img {
  width: 200px;
  opacity: 1;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.logoContainer a:hover img {
  opacity: 0.8;
}

.menuContainer {
  width: calc(100% - 200px);
  height: 80px;
  text-align: right;
}
.menuContainer ul {
  height: 100%;
}
.menuContainer ul li {
  display: inline-block;
  text-align: center;
}
.menuContainer ul li span {
  width: 100%;
  height: 80px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menuContainer ul li a {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  margin: 0 30px;
  border-bottom: rgba(255, 255, 255, 0) 2px solid;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.menuContainer ul li a:hover {
  border-bottom: #A2FA9C 2px solid;
}

.subNav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 140px;
  background-color: white;
  transition: transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  z-index: -2;
  transform: translateY(-140px);
  -webkit-transform: translateY(-140px);
  -moz-transform: translateY(-140px);
  -ms-transform: translateY(-140px);
  -o-transform: translateY(-140px);
}
.subNav ul {
  max-width: 1800px;
  margin: auto;
  width: 90%;
  height: 60px;
}
.subNav ul li {
  display: inline-block;
}
.subNav ul li a {
  font-size: 16px;
  text-align: center;
  padding: 6px 0;
  margin: 0 30px;
  text-decoration: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.subNav ul li a:hover {
  border-bottom: #A2FA9C 2px solid;
}

.subButton {
  margin-right: 8px;
}

.subBtn {
  color: #333333;
}

.subWhiteTop {
  width: 100%;
  height: 80px;
  border-bottom: 0.5px solid #c0c0c0;
}

.navHighLight {
  border-bottom: #A2FA9C 2px solid;
}

.fixedBtn {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 30px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.fixedBtn img {
  width: 90%;
}
.fixedBtn:hover {
  opacity: 0.8;
}

.fooBtn {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.fooBtn img {
  width: 90%;
}
.fooBtn:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  background-color: #37A0FF;
  padding: 30px 0 20px 0;
  position: relative;
}

.fooContainer {
  height: 210px;
  flex-direction: row;
  color: white;
  letter-spacing: 0.5px;
}
.fooContainer .fooLeft,
.fooContainer .fooRight {
  height: 100%;
}
.fooContainer .fooLeft {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  flex-direction: column;
  font-size: 90%;
  text-align: left;
}
.fooContainer .fooLeft a {
  font-size: 90%;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 8px 0;
  color: white;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.fooContainer .fooLeft span {
  font-size: 90%;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 8px 0;
  color: white;
}
.fooContainer .fooLeft a:hover {
  opacity: 0.8;
}
.fooContainer .fooLeft .fooCopyright {
  font-size: 80%;
  padding: 30px 0 0 0;
}
.fooContainer .fooLogo {
  width: 180px;
  margin-bottom: 5px;
}
.fooContainer .fooLogo .st0 {
  fill: white;
}
.fooContainer .fooLogo .st1 {
  fill: white;
}
.fooContainer .fooLogo img {
  width: 110%;
  margin-left: -10px;
}
.fooContainer .fooLogo a {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.fooContainer .fooLogo a:hover {
  opacity: 0.8;
}
.fooContainer .fooRight {
  width: 60%;
  text-align: right;
  font-size: 90%;
}
.fooContainer .fooRight .sitemap {
  margin-top: 40px;
}
.fooContainer .fooRight .sitemap a {
  color: white;
  margin: 0 0 0 30px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  letter-spacing: 1px;
  font-weight: 300;
  padding-bottom: 5px;
  border-bottom: 2px solid #37A0FF;
}
.fooContainer .fooRight .sitemap a:hover {
  border-bottom: 2px solid #79e072;
}
.fooContainer .socialIcons {
  margin-top: 30px;
}
.fooContainer .socialIcons a {
  display: inline-block;
  width: 20px;
  margin: 0 0 0 23px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.fooContainer .socialIcons a img {
  width: 100%;
}
.fooContainer .socialIcons a:hover {
  opacity: 0.8;
}

.mobileFooCopyright {
  width: 100%;
  text-align: center;
  display: none;
}

#fullNav {
  width: 100vw;
  height: 100vh;
  background-color: #37A0FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}

.fullViewMenuBox {
  width: 100%;
  height: 100%;
}
.fullViewMenuBox ul {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 30px;
}
.fullViewMenuBox ul li {
  text-align: center;
  margin: 20px 0;
}
.fullViewMenuBox ul li a {
  color: white;
  letter-spacing: 1px;
  font-weight: 300;
  padding-bottom: 5px;
}
.fullViewMenuBox ul li a:hover {
  border-bottom: 2px solid #79e072;
}

.fullViewMenuBox ul li a:active {
  border-bottom: 2px solid #79e072;
}

.fullViewMenuBox ul li a:focus {
  border-bottom: 2px solid #79e072;
}

#hamburger {
  display: none;
}

.burg {
  display: block;
  height: 2px;
  width: 30px;
  background: white;
  position: relative;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.burg:before {
  content: '';
  position: absolute;
  top: -10px;
  width: 30px;
  height: 2px;
  left: 0;
  background: white;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.burg:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 30px;
  height: 2px;
  left: 0;
  background: white;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.activeBurg {
  background: transparent !important;
  z-index: 200;
}
.activeBurg:before {
  -webkit-transform: rotate(45deg);
  top: 0;
}
.activeBurg:after {
  -webkit-transform: rotate(-45deg);
  top: 0;
}

.changeNavBg {
  z-index: 200;
  background-color: #37A0FF;
}

@media only screen and (max-width: 1000px) {
  .menuBtn,
  .subMainButton {
    display: none;
  }

  #hamburger {
    display: inline-block;
    text-decoration: none;
    border: none;
  }
  #hamburger:hover {
    border: none;
  }
}
@media only screen and (max-width: 760px) {
  .menuBtn,
  .subMainButton {
    display: none;
  }

  .menuContainer ul li a {
    margin: 0 20px;
  }

  #hamburger {
    display: block;
    text-decoration: none;
    border: none;
  }
  #hamburger:hover {
    border: none;
  }

  footer {
    padding: 50px 0 20px 0;
  }

  .fooContainer {
    height: 250px;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .fooContainer .fooLeft,
  .fooContainer .fooRight,
  .fooContainer .socialIcons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .fooContainer .fooLogo {
    width: 150px;
    margin-bottom: 20px;
  }
  .fooContainer .fooRight {
    flex-direction: column;
  }
  .fooContainer .socialIcons {
    margin-top: 0;
  }
  .fooContainer .socialIcons a {
    margin: 0 10px;
  }
  .fooContainer .sitemap,
  .fooContainer .fooCopyright {
    display: none;
  }

  .fooBtn,
  .fixedBtn {
    width: 45px;
  }

  .mobileFooCopyright {
    display: block;
    font-size: 80%;
    margin-top: 30px;
  }
}
header {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}

.bannerImgBox {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/banner/home01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.zoomInBg {
  -webkit-animation: zoomin 40s ease-in infinite;
  animation: zoomin 40s ease-in infinite;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  overflow: hidden;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.headerContainer {
  position: absolute;
  width: 90%;
  margin: auto;
  height: 100%;
}

.titleBox {
  width: 350px;
  height: 95vh;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  float: left;
}
.titleBox h1 {
  font-weight: 400;
}
.titleBox h1 span {
  letter-spacing: 3.5px;
}

.subTitle {
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 35px 0 0 0;
}

.animateControlBox {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 0;
}

.turntable-wrap {
  width: 250px;
  height: 250px;
  position: relative;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.circleLeftAlign {
  width: 250px;
  height: 250px;
  position: absolute;
}

.selectedTextBox {
  position: relative;
  flex-direction: column;
  position: absolute;
  width: 250px;
  height: 150px;
  top: calc(125px - 75px);
  left: -290px;
}

.oneBox,
.topOneNumBox,
.topTwoNumBox,
.bottomOneNumBox,
.bottomTwoNumBox,
.bottomThreeNumBox,
.oneBox_M,
.topOneNumBox_M,
.topTwoNumBox_M,
.bottomOneNumBox_M,
.bottomTwoNumBox_M,
.bottomThreeNumBox_M {
  flex-direction: row;
  position: absolute;
  width: 100px;
  height: 80px;
  transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
}

.oneBox {
  top: 85px;
  left: -10px;
}

.topOneNumBox {
  top: 0;
  left: 70px;
}

.topTwoNumBox {
  top: 40px;
  right: -40px;
}

.bottomOneNumBox {
  top: 180px;
  left: 40px;
}

.bottomTwoNumBox {
  top: 150px;
  left: 100px;
}

.bottomThreeNumBox {
  top: 180px;
  right: -10px;
}

.shortLine {
  width: 20px;
  height: 1px;
  border: 1px solid white;
}

.animateNum {
  font-size: 170%;
  font-weight: 500;
}

.mainAnimateNum {
  font-size: 250%;
}

.circleLabel {
  position: absolute;
  width: 100%;
  height: 30px;
  text-align: left;
  top: calc(75px - 30px);
  line-height: 1.5em;
  font-weight: 300;
  font-size: 90%;
  letter-spacing: 1px;
}

.circleFullLine {
  position: absolute;
  top: calc(75px - 1.5px);
  width: 100%;
  height: 2px;
  background-color: white;
}

.circleLabelName {
  position: relative;
  top: calc(75px + 13px);
  width: 100%;
  text-align: left;
  font-weight: 300;
  font-size: 120%;
  letter-spacing: 1px;
}
.circleLabelName a {
  color: white;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.circleLabelName a:hover {
  opacity: 0.7;
}

#circleUpButton,
#circleDownButton {
  position: absolute;
  display: inline-block;
  width: 50px;
  left: -20px;
}
#circleUpButton img,
#circleDownButton img {
  width: 100%;
}

#circleUpButton {
  top: calc(75px - 90px);
}

#circleDownButton {
  top: calc(75px + 45px);
}

.homeAnimate {
  display: none;
  position: absolute;
  width: 230px;
  height: 80px;
  top: calc(125px - 60px);
  left: 40px;
  z-index: 10;
}

.animateControlBox_mobile {
  display: none;
  width: 250px;
  height: 250px;
  position: absolute;
  right: auto;
  left: calc(50% - 105px);
  bottom: -90px;
}

.circleLeftAlign_mobile {
  position: absolute;
  width: calc(100vw - 20px);
  height: 50px;
  left: 10px;
  bottom: 10px;
  display: none;
}

.homeAnimate_mobile {
  display: none;
  position: absolute;
  width: 130px;
  height: 80px;
  top: -30px;
  left: calc(50% - 50px);
  z-index: 10;
}

.selectedTextBox_mobile {
  position: relative;
  width: 100%;
  height: 50px;
  bottom: 0;
}

#circleUpButton_M,
#circleDownButton_M {
  position: absolute;
  display: inline-block;
  width: 80px;
  top: -20px;
}
#circleUpButton_M img,
#circleDownButton_M img {
  width: 100%;
}

#circleUpButton_M {
  left: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

#circleDownButton_M {
  right: 0;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.oneBox_M {
  top: 60px;
  left: -10px;
}

.topOneNumBox_M {
  top: 0;
  left: 100px;
}

.topTwoNumBox_M {
  top: 40px;
  right: -40px;
}

.bottomOneNumBox_M {
  top: 180px;
  left: 40px;
}

.bottomTwoNumBox_M {
  top: 150px;
  left: 100px;
}

.bottomThreeNumBox_M {
  top: 180px;
  right: -10px;
}

#progress-bar-container {
  width: 100%;
  height: 9px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.progress-bar-child {
  width: 100%;
  height: 100%;
}

.progress {
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 35px;
  font-family: "Segoe UI";
  animation-direction: reverse;
  background: #e5405e;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a2fa9c, #37A0FF);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #a2fa9c, #37A0FF);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #a2fa9c, #37a0ff);
}

.shrinker {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.timelapse {
  animation-name: timelapse;
  animation-fill-mode: forwards;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.86, 0.05, 0.4, 0.96);
}

@keyframes timelapse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
.aboutSec {
  padding: 90px;
  position: relative;
}

.aboutContainer {
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.aboutContainer p {
  line-height: 1.5em;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  margin-top: 25px;
}

.aboutBgDot {
  position: absolute;
  top: -100px;
  width: 400px;
  height: auto;
  left: -40px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.label {
  font-size: 48px;
  font-weight: 300;
}

.buttonSec {
  padding: 5px 0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.buttonContainer {
  width: 100%;
  flex-direction: row;
}

.buttonContainer_mobile {
  display: none;
}

a.categoryButtonBox {
  display: inline-block;
  width: calc(100% / 5);
}

a.categoryButtonBox_mobile {
  width: 100%;
  height: 95px;
  position: relative;
  border-bottom: 2px solid white;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
a.categoryButtonBox_mobile svg {
  display: inline-block;
  width: 70px;
}
a.categoryButtonBox_mobile .buttonGreenLine_mobile {
  position: absolute;
  width: 5px;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
}

a.categoryButtonBox_mobile:active,
a.categoryButtonBox_mobile:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
a.categoryButtonBox_mobile:active .buttonGreenLine_mobile,
a.categoryButtonBox_mobile:hover .buttonGreenLine_mobile {
  background-color: #A2FA9C;
}

.squareButton {
  position: relative;
  width: 100%;
  border: 1px solid white;
  border-top: none;
  border-bottom: 2px solid white;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.squareButton::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.greenUnderline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #A2FA9C;
  opacity: 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.squareContent {
  position: absolute;
  width: 100%;
  height: 100%;
}
.squareContent svg {
  width: 100%;
}

.buttonLabel {
  width: 100%;
  text-align: center;
  font-size: 150%;
  font-weight: 500;
  color: #a8a8a8;
  padding: 25px 0 20px 0;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.buttonLabel_mobile {
  width: 35%;
  color: #a8a8a8;
  font-weight: 500;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.buttonSeeMore {
  width: 100%;
  text-align: center;
  color: #37A0FF;
  opacity: 0;
}

.seeAllCategory {
  width: 100%;
  padding: 80px 10px;
  text-align: center;
}
.seeAllCategory a {
  width: 80%;
  max-width: 225px;
  padding: 25px 15px;
  display: inline-block;
  border: 2px solid #37A0FF;
  text-align: center;
  color: #37A0FF;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.seeAllCategory a:hover {
  color: white;
  background-color: #37A0FF;
}

.categoryButtonBox:hover .squareButton {
  background-color: white;
  border-bottom: 2px solid #f3f3f3;
}
.categoryButtonBox:hover .greenUnderline {
  opacity: 1;
}
.categoryButtonBox:hover .buttonLabel {
  color: black;
}
.categoryButtonBox:hover .buttonSeeMore {
  opacity: 1;
}

.blogContainer {
  flex-direction: row;
  padding: 100px 0;
  max-width: 1200px;
}

.blogContainer_mobile {
  display: none;
}

.blogPreviewBox {
  max-width: 700px;
  width: 70%;
  background-color: #ffffff;
  border-radius: 0 0 40px 0;
  -webkit-border-radius: 0 0 40px 0;
  -moz-border-radius: 0 0 40px 0;
  -ms-border-radius: 0 0 40px 0;
  -o-border-radius: 0 0 40px 0;
  position: relative;
}

.blogPreviewBox_mobile {
  width: 100%;
  cursor: pointer;
  margin: 30px 0 0 0;
}
.blogPreviewBox_mobile hr {
  display: none;
}

#blogMobile_02 .blogImage,
#blogMobile_02 .blogContent,
#blogMobile_03 .blogImage,
#blogMobile_03 .blogContent {
  display: none;
}

.noActive_blogMobile {
  background-color: rgba(255, 255, 255, 0);
  margin: 0;
}
.noActive_blogMobile hr {
  display: block;
  border: 0.75px solid #e8e8e8;
  margin: 30px 30px;
}
.noActive_blogMobile .blogCategory,
.noActive_blogMobile .blogLabel {
  color: #a8a8a8;
}

.selectedDotLineBox {
  position: absolute;
  height: 18px;
  width: 60px;
  right: -25px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.selectedDotLineBox span {
  display: inline-block;
  background-color: #A2FA9C;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.selectedBlogLine {
  width: calc(100% - 18px);
  background-color: #A2FA9C;
  height: 1px;
}

.firstLineBoxY {
  top: 15%;
}

.secondLineBoxY {
  top: 42%;
}

.thirdLineBoxY {
  top: 76%;
}

.blogTextLabelBox {
  width: 40%;
  padding: 0 30px 0 35px;
  color: #A8A8A8;
}

.imageShadow {
  filter: drop-shadow(0 5px 5px rgba(173, 173, 173, 0.2));
  -webkit-filter: drop-shadow(0 5px 5px rgba(173, 173, 173, 0.2));
}

.blogImage {
  width: 100%;
  height: 300px;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  background: url("/static/img/blog/06Banner.jpg") center top no-repeat;
  background-size: cover;
  position: relative;
}

#mobileBlogImg_01 {
  background: url("/static/img/blog/06Banner.jpg") center top no-repeat;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  background-size: cover;
  background-color: #f3f3f3;
  position: relative;
}

#mobileBlogImg_02 {
  background: url("/static/img/blog/02Banner.jpg") center top no-repeat;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  background-size: cover;
  background-color: #f3f3f3;
  position: relative;
}

#mobileBlogImg_03 {
  background: url("/static/img/blog/03Banner.jpg") center top no-repeat;
  width: 100%;
  border-top: 2px solid #e8e8e8;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 93%);
  background-size: contain;
  position: relative;
}

.blogDate {
  position: absolute;
  top: 40px;
  left: 40px;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
}

.blogCategory,
.blogLabel,
.blogContent {
  padding: 0 50px;
}

.blogCategory {
  margin: 12px 0;
  color: #79e072;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 110%;
}

.blogLabel {
  font-size: 180%;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.blogContent {
  margin: 25px 0 50px 0;
  color: #535354;
  font-weight: 300;
  font-size: 120%;
  line-height: 1.3em;
}
.blogContent span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.blogContent a {
  width: 100px;
  white-space: nowrap;
  text-align: right;
  color: #37A0FF;
  font-weight: 500;
  font-size: 90%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.blogContent a:hover {
  color: #195c9b;
}

a.switchBlogBox {
  display: block;
  padding: 30px 0;
  color: #A8A8A8;
}
a.switchBlogBox:hover .switchCategory {
  color: #80E279;
}
a.switchBlogBox:hover .switchCategory span {
  color: black;
}
a.switchBlogBox:hover .switchLabel {
  color: black;
}

.switchBoxLine {
  width: 100%;
  background-color: #E8E8E8;
  height: 2px;
}

.switchLabel {
  line-height: 1.2em;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.switchCategory {
  margin: 12px 0;
  font-weight: 500;
  letter-spacing: 1px;
}
.switchCategory span {
  float: right;
  font-size: 14px;
}

.switchLabel,
.switchCategory,
.switchCategory span {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.seeAllBlog {
  padding: 0 10px 80px 10px;
}

.activeSwitchBlogBox .switchCategory {
  color: #80E279;
}
.activeSwitchBlogBox .switchCategory span {
  color: black;
}
.activeSwitchBlogBox .switchLabel {
  color: black;
}

.cooperationSec {
  text-align: center;
  padding: 80px 0;
  border-top: 2px solid white;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 0;
}
.marquee ul {
  overflow: hidden;
  width: 1000%;
  margin: 0;
}
.marquee li {
  list-style: none;
  display: inline-block;
  padding: 0;
  float: left;
}
.marquee li img {
  width: 200px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  opacity: 0.4;
}
.marquee li:hover {
  cursor: pointer;
}

.edge {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  display: block;
}

.edge:before {
  content: '';
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
}

.edge:after {
  content: '';
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
}

.seeAllService {
  padding: 60px 10px 20px 10px;
}

@media only screen and (max-width: 900px) {
  .bannerImgBox {
    background-image: url("../img/banner/ipad/home01_ipad.jpg");
  }

  .circleLeftAlign_mobile {
    display: block;
  }

  .animateControlBox {
    display: none;
  }

  .animateControlBox_mobile {
    display: block;
  }

  .titleBox h1 {
    font-size: 80px;
  }

  .subTitle {
    font-size: 140%;
    letter-spacing: 2px;
  }

  .label {
    font-size: 36px;
    font-weight: 200;
  }

  .aboutContainer p {
    font-size: 18px;
  }

  .aboutSec {
    padding: 150px 90px;
  }

  .aboutBgDot {
    width: 350px;
    top: -60px;
  }

  .blogContainer {
    display: none;
  }

  .blogContainer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
  }

  .seeAllBlog {
    padding: 80px 10px 80px 10px;
  }

  .buttonLabel {
    font-size: 18px;
  }

  .marquee ul li img {
    width: 180px;
  }
}
@media only screen and (max-width: 650px) {
  .titleBox {
    width: 100%;
    margin: auto;
    text-align: left;
  }
  .titleBox h1 {
    width: 90%;
    margin: 0 auto;
    text-align: left;
    font-size: 50px;
  }

  .subTitle {
    width: 90%;
    margin: 20px auto 0 auto;
    text-align: left;
    font-size: 18px;
  }

  .bannerImgBox {
    background-image: url("../img/banner/mobile/home01_mobile.jpg");
  }

  .animateControlBox {
    display: none;
  }

  .animateControlBox_mobile {
    display: block;
  }

  #circleUpButton_M,
  #circleDownButton_M {
    width: 60px;
  }

  .animateNum {
    font-size: 120%;
  }

  .mainAnimateNum {
    font-size: 200%;
  }

  .oneBox_M {
    top: 60px;
    left: 20px;
  }

  .topOneNumBox_M {
    top: 20px;
    left: 100px;
  }

  .label {
    font-size: 30px;
    font-weight: 200;
  }

  .aboutContainer p {
    font-size: 14px;
  }

  .aboutSec {
    padding: 60px 20px;
  }

  .aboutBgDot {
    width: 200px;
    left: -25px;
    top: -30px;
  }

  .buttonContainer,
  .blogContainer {
    display: none;
  }

  .buttonContainer_mobile,
  .blogContainer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
  }

  .buttonSec {
    border-bottom: none;
    padding: 0;
  }

  .seeAllCategory {
    padding: 50px 10px;
  }

  .seeAllButton {
    padding: 50px 10px 20px 10px;
  }

  .blogSec {
    width: 100%;
  }

  .blogCategory,
  .blogLabel,
  .blogContent {
    padding: 0 30px;
  }

  .blogCategory,
  .blogDate {
    font-size: 10px;
  }

  .blogLabel {
    font-size: 16px;
  }

  .blogImage {
    height: 200px;
  }

  .blogContent {
    font-size: 11px;
    margin: 10px 0 20px 0;
  }

  .seeAllCategory a {
    width: 60%;
    max-width: 60%;
    padding: 20px 10px;
    font-size: 80%;
  }

  .cooperationSec {
    padding: 50px 0 0 0;
  }

  .marquee ul li img {
    width: 150px;
  }
}
