@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

body,
html {
  font-size: 1em;
  /* 16px*/
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC"; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

/* FlexBox */
.fullViewMenuBox ul, header, .descriptionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menuContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.navContainer, .fooContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.wrapper {
  min-height: 100vh;
  position: relative;
  background-color: #f3f3f3;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in; }

.moveUpAnimate {
  animation: moveUp 0.5s normal forwards;
  -webkit-animation: moveUp 0.5s normal forwards; }

@-webkit-keyframes moveUp {
  from {
    margin-top: 100px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

@keyframes moveUp {
  from {
    margin-top: 100px;
    opacity: 0; }
  to {
    margin-top: 0;
    opacity: 1; } }

.section {
  width: 100%;
  background-color: #f3f3f3; }

.fooContainer,
.allContainer {
  max-width: 1800px;
  width: 90%;
  margin: auto; }

h1 {
  font-size: 85px;
  letter-spacing: 2px; }

.animate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
  background-color: #fff; }
  .animate #lottie,
  .animate #homeLoadLottie {
    position: absolute;
    width: 200px;
    height: 80px;
    top: calc(50% - 40px);
    left: calc(50% - 100px); }

.lockBack {
  width: 100%;
  position: fixed; }

body,
html {
  height: 100%; }

nav {
  width: 100%;
  position: fixed;
  z-index: 200;
  height: 80px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out; }

.navContainer {
  max-width: 1800px;
  width: 90%;
  height: 80px;
  overflow: hidden;
  margin: auto; }

.hideUp {
  top: -80px; }

.slideDown {
  top: 0; }

.navBgWhite {
  background-color: white; }
  .navBgWhite .menuBtn,
  .navBgWhite .subMainButton {
    color: #a8a8a8; }
    .navBgWhite .menuBtn:hover,
    .navBgWhite .subMainButton:hover {
      color: black; }
    .navBgWhite .menuBtn:active,
    .navBgWhite .subMainButton:active {
      color: black;
      border-bottom: #A2FA9C 2px solid; }
  .navBgWhite #hamburger .burg {
    background: black; }
    .navBgWhite #hamburger .burg:before {
      background: black; }
    .navBgWhite #hamburger .burg:after {
      background: #000000; }

.navBgNone .menuBtn,
.navBgNone .subMainButton {
  color: white; }

.navBgNone .menuBtn:hover,
.navBgNone .subMainButton:hover {
  color: #dbdbdb; }

.navBgNone .subMainButton,
.navBgWhite .subMainButton {
  margin-top: 2px;
  padding: 13px 0; }

.logoContainer a {
  display: inline-block; }
  .logoContainer a img {
    width: 200px;
    opacity: 1;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease; }

.logoContainer a:hover img {
  opacity: 0.8; }

.menuContainer {
  width: calc(100% - 200px);
  height: 80px;
  text-align: right; }
  .menuContainer ul {
    height: 100%;
    margin: 0 auto; }
    .menuContainer ul li {
      display: inline-block;
      text-align: center; }
      .menuContainer ul li span {
        width: 100%;
        height: 80px;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
      .menuContainer ul li a {
        font-size: 16px;
        text-align: center;
        padding: 10px 0;
        text-decoration: none;
        margin: 0 30px;
        border-bottom: rgba(255, 255, 255, 0) 2px solid;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease; }
      .menuContainer ul li a:active {
        color: black;
        border-bottom: #A2FA9C 2px solid; }

.subNav,
.subNavScroll {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 140px;
  background-color: white;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in;
  -ms-transition: transform 0.3s ease-in;
  -o-transition: transform 0.3s ease-in;
  z-index: -2;
  transform: translateY(-140px);
  -webkit-transform: translateY(-140px);
  -moz-transform: translateY(-140px);
  -ms-transform: translateY(-140px);
  -o-transform: translateY(-140px); }
  .subNav ul,
  .subNavScroll ul {
    max-width: 1800px;
    margin: auto;
    width: 90%;
    height: 60px; }
    .subNav ul li,
    .subNavScroll ul li {
      display: inline-block; }
      .subNav ul li a,
      .subNavScroll ul li a {
        font-size: 16px;
        text-align: center;
        padding: 6px 0;
        margin: 0 30px;
        text-decoration: none;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease; }
      .subNav ul li a:hover,
      .subNavScroll ul li a:hover {
        color: black; }
      .subNav ul li a:active,
      .subNavScroll ul li a:active {
        color: black;
        border-bottom: #A2FA9C 2px solid; }

.subNavScroll {
  display: none;
  top: 79px;
  height: 60px;
  border-top: 0.5px solid rgba(192, 192, 192, 0.4);
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px); }

.subButton {
  margin-right: 8px; }

.subBtn {
  color: #a8a8a8; }

.subWhiteTop {
  width: 100%;
  height: 80px;
  border-bottom: 0.5px solid rgba(192, 192, 192, 0.4); }

#navHighLight {
  color: white;
  border-bottom: #A2FA9C 2px solid; }

.fixedBtn {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 30px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease; }
  .fixedBtn img {
    width: 90%; }
  .fixedBtn:hover {
    opacity: 0.8; }

.fooBtn {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease; }
  .fooBtn img {
    width: 90%; }
  .fooBtn:hover {
    opacity: 0.8; }

footer {
  width: 100%;
  background-color: #37A0FF;
  padding: 30px 0 20px 0;
  position: relative; }

.fooContainer {
  height: 280px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: white;
  letter-spacing: 0.5px; }
  .fooContainer .fooLeft,
  .fooContainer .fooRight {
    height: 100%; }
  .fooContainer .fooLeft {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 90%;
    text-align: left; }
    .fooContainer .fooLeft a {
      font-size: 90%;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 8px 0;
      color: white;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease; }
    .fooContainer .fooLeft span {
      font-size: 90%;
      font-weight: 300;
      letter-spacing: 1px;
      padding: 8px 0;
      color: white; }
    .fooContainer .fooLeft a:hover {
      opacity: 0.8; }
    .fooContainer .fooLeft .fooCopyright {
      font-size: 80%;
      padding: 30px 0 0 0; }
  .fooContainer .fooLogo {
    width: 180px;
    margin-bottom: 5px; }
    .fooContainer .fooLogo .st0 {
      fill: white; }
    .fooContainer .fooLogo .st1 {
      fill: white; }
    .fooContainer .fooLogo img {
      width: 110%;
      margin-left: -10px; }
    .fooContainer .fooLogo a {
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease; }
    .fooContainer .fooLogo a:hover {
      opacity: 0.8; }
  .fooContainer .fooRight {
    width: 60%;
    text-align: right;
    font-size: 90%; }
    .fooContainer .fooRight .sitemap {
      margin-top: 40px; }
      .fooContainer .fooRight .sitemap a {
        color: white;
        margin: 0 0 0 30px;
        transition: 0.3s ease;
        -webkit-transition: 0.3s ease;
        -moz-transition: 0.3s ease;
        -ms-transition: 0.3s ease;
        -o-transition: 0.3s ease;
        letter-spacing: 1px;
        font-weight: 300;
        padding-bottom: 5px;
        border-bottom: 2px solid #37A0FF; }
      .fooContainer .fooRight .sitemap a:hover {
        border-bottom: 2px solid #79e072; }
  .fooContainer .socialIcons {
    margin-top: 30px; }
    .fooContainer .socialIcons a {
      display: inline-block;
      width: 20px;
      margin: 0 0 0 23px;
      transition: 0.3s ease;
      -webkit-transition: 0.3s ease;
      -moz-transition: 0.3s ease;
      -ms-transition: 0.3s ease;
      -o-transition: 0.3s ease; }
      .fooContainer .socialIcons a img {
        width: 100%; }
    .fooContainer .socialIcons a:hover {
      opacity: 0.8; }

.mobileFooCopyright {
  width: 100%;
  text-align: center;
  display: none; }

#fullNav {
  width: 100vw;
  height: 100vh;
  background-color: #37A0FF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none; }

.fullViewMenuBox {
  width: 100%;
  height: 100%; }
  .fullViewMenuBox ul {
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    margin-left: 0; }
    .fullViewMenuBox ul li {
      list-style: none;
      text-align: center;
      margin: 20px 0; }
      .fullViewMenuBox ul li a {
        color: white;
        letter-spacing: 1px;
        font-size: 110%;
        font-weight: 300;
        padding-bottom: 5px; }
        .fullViewMenuBox ul li a:hover {
          border-bottom: 2px solid #79e072; }

.fullViewMenuBox ul li a:active {
  border-bottom: 2px solid #79e072; }

.fullViewMenuBox ul li a:focus {
  border-bottom: 2px solid #79e072; }

#hamburger {
  display: none; }

.burg {
  display: block;
  height: 2px;
  width: 30px;
  background: white;
  position: relative;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease; }
  .burg:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 30px;
    height: 2px;
    left: 0;
    background: white;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }
  .burg:after {
    content: '';
    position: absolute;
    top: 10px;
    width: 30px;
    height: 2px;
    left: 0;
    background: white;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease; }

.activeBurg {
  background: transparent !important;
  z-index: 200; }
  .activeBurg:before {
    -webkit-transform: rotate(45deg);
    top: 0; }
  .activeBurg:after {
    -webkit-transform: rotate(-45deg);
    top: 0; }

.changeNavBg {
  z-index: 200;
  background-color: #37A0FF; }

@media only screen and (max-width: 1000px) {
  .menuBtn,
  .subMainButton {
    display: none; }
  #hamburger {
    display: inline-block;
    text-decoration: none;
    border: none; }
    #hamburger:hover {
      border: none; } }

@media only screen and (max-width: 760px) {
  .menuBtn,
  .subMainButton {
    display: none; }
  .menuContainer ul li a {
    margin: 0 20px; }
  #hamburger {
    display: block;
    text-decoration: none;
    border: none; }
    #hamburger:hover {
      border: none; }
  footer {
    padding: 50px 0 20px 0; }
  .fooContainer {
    height: 340px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .fooContainer .fooLeft,
    .fooContainer .fooRight,
    .fooContainer .socialIcons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%; }
    .fooContainer .fooLogo {
      width: 150px;
      margin-bottom: 20px; }
    .fooContainer .fooRight {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .fooContainer .socialIcons {
      margin-top: 20px; }
      .fooContainer .socialIcons a {
        margin: 0 10px; }
    .fooContainer .sitemap,
    .fooContainer .fooCopyright {
      display: none; }
  .fooBtn,
  .fixedBtn {
    width: 45px; }
  .mobileFooCopyright {
    display: block;
    font-size: 80%;
    margin-top: 30px; } }

header {
  width: 100%;
  height: 390px;
  color: white;
  background: url("../img/banner/performance_mask.jpg") center center no-repeat;
  background-size: cover; }
  header h1 {
    font-size: 400%;
    font-weight: 200;
    letter-spacing: 4px; }

main {
  width: 100%;
  padding-bottom: 50px; }

.descriptionContainer {
  padding: 30px 0; }
  .descriptionContainer p {
    line-height: 1.5em;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 25px;
    color: #333333; }

hr {
  width: 100px;
  background-color: #A2FA9C;
  border: 2px solid #A2FA9C; }

.iconsContainer {
  width: 100%;
  max-width: 1500px;
  position: relative;
  height: 1200px;
  margin: 0 auto 50px auto;
  padding: 0 0; }

.iconWallImg {
  width: 200px;
  display: inline-block;
  position: absolute; }
  .iconWallImg img {
    width: 100%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    opacity: 0.8; }

.iconWallImg:hover img {
  opacity: 1; }

#wallIcon01 {
  width: 15%;
  top: 5%;
  left: 12%; }

#wallIcon02 {
  width: 13%;
  top: 4%;
  left: 32%; }

#wallIcon03 {
  width: 13%;
  top: 7%;
  left: 50%; }

#wallIcon04 {
  width: 18%;
  top: 5%;
  left: 71%; }

#wallIcon05 {
  width: 10%;
  top: 19%;
  left: 5%; }

#wallIcon06 {
  width: 10%;
  top: 20%;
  left: 25%; }

#wallIcon07 {
  width: 11%;
  top: 21%;
  left: 41%; }

#wallIcon08 {
  width: 5%;
  top: 18%;
  left: 62%; }

#wallIcon09 {
  width: 10%;
  top: 19%;
  left: 78%; }

#wallIcon10 {
  width: 17%;
  top: 35%;
  left: 8%; }

#wallIcon11 {
  width: 10%;
  top: 35%;
  left: 45%; }

#wallIcon12 {
  width: 14%;
  top: 30%;
  left: 61%; }

#wallIcon13 {
  width: 12%;
  top: 33%;
  left: 81%; }

#wallIcon14 {
  width: 9%;
  top: 50%;
  left: 7%; }

#wallIcon15 {
  width: 8%;
  top: 35%;
  left: 28%; }

#wallIcon16 {
  width: 10%;
  top: 50%;
  left: 35%; }

#wallIcon17 {
  width: 11%;
  top: 50%;
  left: 50%; }

#wallIcon18 {
  width: 8%;
  top: 50%;
  left: 65%; }

#wallIcon19 {
  width: 10%;
  top: 50%;
  left: 78%; }

#wallIcon20 {
  width: 7%;
  top: 50%;
  left: 22%; }

#wallIcon21 {
  width: 12%;
  top: 63%;
  left: 6%; }

#wallIcon22 {
  width: 8%;
  top: 60%;
  left: 27%; }

#wallIcon23 {
  width: 9%;
  top: 63%;
  left: 42%; }

#wallIcon24 {
  width: 10%;
  top: 64%;
  left: 60%; }

#wallIcon25 {
  width: 8%;
  top: 61%;
  left: 80%; }

#wallIcon26 {
  width: 10%;
  top: 80%;
  left: 11%; }

#wallIcon27 {
  width: 8%;
  top: 80%;
  left: 65%; }

#wallIcon28 {
  width: 20%;
  top: 82%;
  left: 25%; }

#wallIcon29 {
  width: 11%;
  top: 76%;
  left: 56%; }

#wallIcon30 {
  width: 13%;
  top: 90%;
  left: 10%; }

#wallIcon31 {
  width: 13%;
  top: 92%;
  left: 23%; }

#wallIcon32 {
  width: 13%;
  top: 93%;
  left: 43%; }

#wallIcon33 {
  width: 15%;
  top: 93%;
  left: 60%; }

#wallIcon34 {
  width: 10%;
  top: 93%;
  left: 80%; }

#wallIcon35 {
  width: 13%;
  top: 76%;
  left: 80%; }

.iconsContainer_mobile {
  text-align: center;
  padding: 0 0 30px 0;
  display: none; }

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 0; }
  .marquee ul {
    overflow: hidden;
    width: 1200%;
    margin: 0; }
  .marquee li {
    list-style: none;
    display: inline-block;
    padding: 0;
    float: left; }
    .marquee li img {
      width: 150px; }

.edge {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  display: block; }

.edge:before {
  content: '';
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%; }

.edge:after {
  content: '';
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%; }

.companyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 90%;
  max-width: 1500px; }

.companyCol {
  width: 30%;
  margin: 0 5px; }

.companyTextBox {
  width: 100%;
  padding: 40px 50px;
  background-color: white;
  position: relative;
  margin: 10px 0; }
  .companyTextBox ul {
    width: 100%;
    margin-top: 20px;
    padding-left: 0; }
    .companyTextBox ul li {
      list-style: none;
      font-size: 110%;
      font-weight: 300;
      letter-spacing: 1px;
      color: #333333;
      padding: 8px 0;
      line-height: 1.2em; }

.companyTextBoxPad {
  display: none; }

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: #A2FA9C transparent transparent transparent; }

.companyCategoryLabel {
  width: 100%;
  color: #79e072;
  font-weight: 500;
  font-size: 130%; }

@media only screen and (max-width: 900px) {
  header h1 {
    font-size: 300%; }
  .descriptionContainer p {
    font-size: 18px; }
  .companyCategoryLabel {
    font-size: 16px; }
  .iconsContainer {
    height: 55vh; }
  .companyTextBoxPad {
    display: block; }
  .companyTextBox ul li {
    font-size: 16px; }
  .companyColPad {
    display: none; }
  .companyCol {
    width: 50%; } }

@media only screen and (max-width: 450px) {
  header {
    height: 270px; }
    header h1 {
      font-size: 200%; }
  .descriptionContainer p {
    font-size: 14px; }
  .companyCategoryLabel {
    font-size: 16px; }
  .iconsContainer_mobile {
    display: block; }
  .iconsContainer {
    display: none; }
  .companyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .companyCol {
    width: 100%;
    margin: 0; }
  .companyTextBox {
    margin: 0 0 20px 0; }
    .companyTextBox ul li {
      font-size: 16px; } }
