header {
  width: 100%;
  height: 390px;
  color: white;
  background: url('../img/banner/performance_mask.jpg') center center no-repeat;
  background-size: cover;;
  @extend %flex_center;

  h1 {
    font-size: 400%;
    font-weight: 200;
    letter-spacing: 4px;
  }
}

main {
  width: 100%;
  padding-bottom: 50px;
}

.descriptionContainer {
  @extend %flex_center;
  padding: 30px 0;

  p {
    line-height: 1.5em;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 25px;
    color: $GVDarkTextGrey;
  }
}

hr {
  width: 100px;
  background-color: $GVGreen;
  border: 2px solid $GVGreen;
}

.iconsContainer {
  width: 100%;
  max-width: 1500px;
  position: relative;
  height: 910px;
  margin: 0 auto 50px auto;
  padding: 0 0;
}

.iconWallImg {
  width: 200px;
  display: inline-block;
  position: absolute;

  img {
    width: 100%;
    //-webkit-filter: grayscale(100%);
    //-moz-filter: grayscale(100%);
    //-ms-filter: grayscale(100%);
    //-o-filter: grayscale(100%);
    //filter: grayscale(100%);
    //filter: gray;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    opacity: 0.8;
  }
}

.iconWallImg:hover {
  img {
    //filter: none;
    //-webkit-filter: none;
    opacity: 1;
  }
}

// ICON WALL POSITION
#wallIcon01 {
  width: 15%;
  top: 12%;
  left: 12%
}

#wallIcon02 {
  width: 13%;
  top: 11%;
  left: 32%
}

#wallIcon03 {
  width: 13%;
  top: 14%;
  left: 50%
}

#wallIcon04 {
  width: 13%;
  top: 13%;
  left: 71%
}

#wallIcon05 {
  width: 10%;
  top: 26%;
  left: 5%
}

#wallIcon06 {
  width: 10%;
  top: 27%;
  left: 25%
}

#wallIcon07 {
  width: 11%;
  top: 28%;
  left: 41%
}

#wallIcon08 {
  width: 5%;
  top: 25%;
  left: 62%
}

#wallIcon09 {
  width: 10%;
  top: 26%;
  left: 78%
}

#wallIcon10 {
  width: 17%;
  top: 37%;
  left: 8%
}

#wallIcon11 {
  width: 10%;
  top: 40%;
  left: 45%
}

#wallIcon12 {
  width: 14%;
  top: 37%;
  left: 61%
}

#wallIcon13 {
  width: 12%;
  top: 40%;
  left: 81%
}

#wallIcon14 {
  width: 9%;
  top: 51%;
  left: 7%
}

#wallIcon15 {
  width: 8%;
  top: 42%;
  left: 28%
}

#wallIcon16 {
  width: 10%;
  top: 51%;
  left: 35%
}

#wallIcon17 {
  width: 11%;
  top: 56%;
  left: 50%
}

#wallIcon18 {
  width: 8%;
  top: 59%;
  left: 65%
}

#wallIcon19 {
  width: 10%;
  top: 56%;
  left: 78%
}

#wallIcon20 {
  width: 7%;
  top: 52%;
  left: 22%
}

#wallIcon21 {
  width: 12%;
  top: 70%;
  left: 6%
}

#wallIcon22 {
  width: 8%;
  top: 67%;
  left: 27%
}

#wallIcon23 {
  width: 9%;
  top: 70%;
  left: 42%
}

#wallIcon24 {
  width: 10%;
  top: 71%;
  left: 56%
}

#wallIcon25 {
  width: 8%;
  top: 68%;
  left: 80%
}

#wallIcon26 {
  width: 10%;
  top: 83%;
  left: 11%
}

#wallIcon27 {
  width: 8%;
  top: 82%;
  left: 72%
}

#wallIcon28 {
  width: 20%;
  top: 89%;
  left: 25%
}

#wallIcon29 {
  width: 11%;
  top: 83%;
  left: 56%
}

// Marquee

.iconsContainer_mobile {
  text-align: center;
  padding: 0 0 30px 0;
  display: none;
}

.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 20px 0 0 0;

  ul {
    overflow: hidden;
    width: 1200%;
    margin: 0;
  }

  li {
    list-style: none;
    display: inline-block;
    padding: 0;
    float: left;

    img {
      width: 150px;
    }
  }
}

.edge {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  height: 100%;
  display: block;
}

.edge:before {
  content: '';
  position: absolute;
  left: 0;
  width: 25%;
  height: 100%;
}

.edge:after {
  content: '';
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
}

// Company Container
.companyContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  flex-direction: row;
  width: 90%;
  max-width: 1500px;
}

.companyCol {
  width: 30%;
  margin: 0 5px;
}

.companyTextBox {
  width: 100%;
  padding: 40px 50px;
  background-color: white;
  position: relative;
  margin: 10px 0;

  ul {
    width: 100%;
    margin-top: 20px;
    padding-left: 0;

    li {
      list-style: none;
      font-size: 110%;
      font-weight: 300;
      letter-spacing: 1px;
      color: $GVDarkTextGrey;
      padding: 8px 0;
      line-height: 1.2em;
    }
  }
}

.companyTextBoxPad {
  display: none;
}

.triangle {
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  border-style: solid;
  border-width: 30px 30px 0 0;
  border-color: $GVGreen transparent transparent transparent;
}

.companyCategoryLabel {
  width: 100%;
  color: $GVDarkGreen;
  font-weight: 500;
  font-size: 130%;
}

// Mobile 
@media only screen and (max-width: 900px) {
  header {
    h1 {
      font-size: 300%;
    }
  }

  .descriptionContainer {
    p {
      font-size: 18px;
    }
  }

  .companyCategoryLabel {
    font-size: 16px;
  }

  .iconsContainer {
    height: 55vh;
  }

  .companyTextBoxPad {
    display: block;
  }

  .companyTextBox {
    ul {
      li {
        font-size: 16px;
      }
    }
  }

  .companyColPad {
    display: none;
  }

  .companyCol {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  header {
    height: 270px;

    h1 {
      font-size: 200%;
    }
  }

  .descriptionContainer {
    p {
      font-size: 14px;
    }
  }

  .companyCategoryLabel {
    font-size: 16px;
  }

  .iconsContainer_mobile {
    display: block;
  }

  .iconsContainer {
    display: none;
  }

  .companyContainer {
    flex-direction: column;
  }

  .companyCol {
    width: 100%;
    margin: 0;
  }

  .companyTextBox {
    margin: 0 0 20px 0;

    ul {
      li {
        font-size: 16px;
      }
    }
  }
}